.mfp-bg,.mfp-wrap{position:fixed;
left:0;
top:0}
.mfp-wrap,.owl-carousel .owl-item,.owl-carousel .owl-video-play-icon{-webkit-backface-visibility:hidden}
.mfp-bg,.mfp-container,.mfp-wrap{height:100%;
width:100%}
.home a:hover,.mfp-close{text-decoration:none}
.mfp-container:before,.mfp-figure:after{content:''}
.mfp-arrow,.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent}
.mfp-bg{z-index:1042;
overflow:hidden;
background:#0b0b0b;
opacity:.8;
filter:alpha(opacity=80)}
.mfp-wrap{z-index:1043;
outline:0!important}
.mfp-container{text-align:center;
position:absolute;
left:0;
top:0;
padding:0 8px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box}
.mfp-container:before{display:inline-block;
height:100%;
vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;
display:inline-block;
vertical-align:middle;
margin:0 auto;
text-align:left;
z-index:1045}
.mfp-close,.mfp-preloader{text-align:center;
position:absolute}
.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;
cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-webkit-zoom-out;
cursor:zoom-out}
.mfp-zoom{cursor:pointer;
cursor:-webkit-zoom-in;
cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#CCC;
top:50%;
width:auto;
margin-top:-.8em;
left:8px;
right:8px;
z-index:1044}
.mfp-preloader a{color:#CCC}
.mfp-close,.mfp-preloader a:hover{color:#FFF}
.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}
button.mfp-arrow,button.mfp-close{overflow:visible;
cursor:pointer;
background:0 0;
border:0;
-webkit-appearance:none;
display:block;
outline:0;
padding:0;
z-index:1046;
-webkit-box-shadow:none;
box-shadow:none}
button::-moz-focus-inner{padding:0;
border:0}
.mfp-close{width:44px;
height:44px;
line-height:44px;
right:0;
top:0;
opacity:.65;
filter:alpha(opacity=65);
padding:0 0 18px 10px;
font-style:normal;
font-size:28px;
font-family:Arial,Baskerville,monospace}
.cards .card h4,.home .block-title .p a,.home .block-title p a,.why-items .why-item-text,.teams .card h4,.teams .team h4{font-family:RalewayBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif}
.mfp-close:focus,.mfp-close:hover{opacity:1;
filter:alpha(opacity=100)}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;
right:-6px;
text-align:right;
padding-right:6px;
width:100%}
.mfp-counter{position:absolute;
top:0;
right:0;
color:#CCC;
font-size:12px;
line-height:18px;
white-space:nowrap}
.mfp-figure,img.mfp-img{line-height:0}
.mfp-arrow{position:absolute;
opacity:.65;
filter:alpha(opacity=65);
margin:-55px 0 0;
top:50%;
padding:0;
width:90px;
height:110px}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;
filter:alpha(opacity=100)}
.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';
display:block;
width:0;
height:0;
position:absolute;
left:0;
top:0;
margin-top:35px;
margin-left:35px;
border:inset transparent}
.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;
border-bottom-width:13px;
top:8px}
.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;
border-bottom-width:21px;
opacity:.7}
.mfp-arrow-left{left:0}
.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;
margin-left:31px}
.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;
border-right:27px solid #3F3F3F}
.mfp-arrow-right{right:0}
.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;
margin-left:39px}
.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}
.mfp-iframe-holder{padding-top:40px;
padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;
width:100%;
max-width:900px}
.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;
height:0;
overflow:hidden;
padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;
display:block;
top:0;
left:0;
width:100%;
height:100%;
-webkit-box-shadow:0 0 8px rgba(0,0,0,.6);
box-shadow:0 0 8px rgba(0,0,0,.6);
background:#000}
.mfp-figure:after,img.mfp-img{width:auto;
height:auto;
display:block}
img.mfp-img{-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:40px 0;
margin:0 auto}
.mfp-figure:after{position:absolute;
left:0;
top:40px;
bottom:40px;
right:0;
z-index:-1;
-webkit-box-shadow:0 0 8px rgba(0,0,0,.6);
box-shadow:0 0 8px rgba(0,0,0,.6);
background:#444}
.mfp-figure small{color:#BDBDBD;
display:block;
font-size:12px;
line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-36px;
position:absolute;
top:100%;
left:0;
width:100%;
cursor:auto}
.mfp-title{text-align:left;
line-height:18px;
color:#F3F3F3;
word-wrap:break-word;
padding-right:36px}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;
padding-right:0}
.mfp-img-mobile img.mfp-img{padding:0}
.mfp-img-mobile .mfp-figure:after{top:0;
bottom:0}
.mfp-img-mobile .mfp-figure small{display:inline;
margin-left:5px}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);
bottom:0;
margin:0;
top:auto;
padding:3px 5px;
position:fixed;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
.mfp-img-mobile .mfp-counter{right:5px;
top:3px}
.mfp-img-mobile .mfp-close{top:0;
right:0;
width:35px;
height:35px;
line-height:35px;
background:rgba(0,0,0,.6);
position:fixed;
text-align:center;
padding:0}
}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);
-ms-transform:scale(.75);
transform:scale(.75)}
.mfp-arrow-left{-webkit-transform-origin:0;
-ms-transform-origin:0;
transform-origin:0}
.mfp-arrow-right{-webkit-transform-origin:100%;
-ms-transform-origin:100%;
transform-origin:100%}
.mfp-container{padding-left:6px;
padding-right:6px}
}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;
left:50%;
margin-left:-300px;
margin-top:5px;
padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;
right:0;
padding-top:0}
.owl-carousel .animated{-webkit-animation-duration:1000ms;
animation-duration:1000ms;
-webkit-animation-fill-mode:both;
animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;
animation-name:fadeOut}
@-webkit-keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;
transition:height 500ms ease-in-out}
.owl-carousel{display:none;
width:100%;
position:relative;
z-index:1}
.owl-carousel .owl-stage{position:relative;
-ms-touch-action:pan-Y}
.owl-carousel .owl-stage:after{content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0}
.owl-carousel .owl-stage-outer{position:relative;
overflow:hidden;
-webkit-transform:translate3d(0,0,0)}
.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;
cursor:hand;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;
display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;
min-height:1px;
float:left;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}
.owl-carousel .owl-item img{display:block;
width:100%;
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;
-moz-user-select:auto;
-ms-user-select:auto;
user-select:auto}
.owl-carousel .owl-grab{cursor:move;
cursor:-webkit-grab;
cursor:-o-grab;
cursor:-ms-grab;
cursor:-moz-grab;
cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-carousel .owl-item .owl-lazy{opacity:0;
-webkit-transition:opacity 400ms ease;
transition:opacity 400ms ease}
.owl-carousel .owl-video-wrapper{position:relative;
height:100%;
background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;
height:80px;
width:80px;
left:50%;
top:50%;
margin-left:-40px;
margin-top:-40px;
background:url(owl.video.play.png) no-repeat;
cursor:pointer;
z-index:1;
-webkit-transition:scale 100ms ease;
transition:scale 100ms ease}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);
transition:scale(1.3,1.3)}
.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}
.owl-carousel .owl-video-tn{opacity:0;
height:100%;
background-position:center center;
background-repeat:no-repeat;
background-size:contain;
-webkit-transition:opacity 400ms ease;
transition:opacity 400ms ease}
.owl-carousel .owl-video-frame{position:relative;
z-index:1}
::-webkit-input-placeholder{color:#fff;
opacity:1}
:-moz-placeholder{color:#fff;
opacity:1}
::-moz-placeholder{color:#fff;
opacity:1}
:-ms-input-placeholder{color:#fff;
opacity:1}
body input:focus:required:invalid,body input:required:valid,body textarea:focus:required:invalid,body textarea:required:valid{color:#fff}
.home{padding-top:30px;
background-color:#F9F9F9;
position:relative}
.home .block-title{margin-bottom:40px;}
.home .block-title .p,.home .block-title p{margin-top:60px;
text-align:center;
-webkit-animation-delay:.4s;
animation-delay:.4s}
.home .block-title h2{text-align:center;
position:relative;}
.home .block-title h2::after,.home::before{position:absolute;
content:''}
.home .block-title h2::after{
height:4px;
background-color:#F39F18;
width:165px;
display:block;
bottom:-20px;
left:50%;
-webkit-transform:translate(-50%,0);
-ms-transform:translate(-50%,0);
transform:translate(-50%,0);
-webkit-border-radius:10em;
border-radius:10em}
.home .block-title h3{text-align:center;
margin-top:50px}
.home .section-bottom{background-color:#E5E5E5;
padding:50px 0;
text-align:center}
.home .section-bottom .buttons{font-size:1.25em}
.home::before{height:6px;
width:100%;
top:-6px;
background-image:url(../img/bah_1.png)}
.section_1 .section-content,.section_3 .section-content{background-image:url(../img/s1_gray_bg.png);
background-repeat:no-repeat;
background-position:top}
.section_1 .section-bottom,.section_3 .section-bottom{background-color:#2C3949}
.section-content{position:relative;
padding-bottom:90px}
.section-content .info-item-wrap:last-child .info-item,.section-content .info-item-wrap:nth-child(4) .info-item{margin-bottom:0}
.section-content .s1-bottom-triangle{height:67px;
position:absolute;
bottom:0;
background-image:url(../img/s1_triangle.svg);
z-index:2;
width:100%;
background-position:top;
background-size:100% 100%;
text-align:center}
.section-content .s1-bottom-triangle .triangle-logo{width:116px;
margin-top:30px}
.s1-bottom{padding:15px 0 50px;
background-color:#394B5F}
.info-item p,.why-items{padding-bottom:20px}
.s1-bottom .info-item{margin:15px 0 0}
.s1-bottom .info-item p{color:#fff;
border-color:#546476;
margin-bottom:0}
.s1-bottom .info-item-wrap:nth-child(2) .info-item{margin-top:65px}
.info-item{padding-left:34px;
max-width:320px;
line-height:1.1875em;
margin:48px 0}
.info-item h4{margin-top:0;
margin-bottom:10px}
.info-item h4 a{font-size:1.4375em;
line-height:.875em;
text-decoration:underline;
text-transform:none}
.info-item p{font-size:1em;
border-bottom:#DEE1E5 1px solid}
.info-item-wrap:nth-child(2) .info-item{margin-top:0}
.scales{width:160px;
position:absolute;
top:-130px;
left:50%;
-webkit-transform:translate(-50%,0);
-ms-transform:translate(-50%,0);
transform:translate(-50%,0);
z-index:-1}
.why-items .why-item{text-align:center;
color:#111;
margin-bottom:55px;
display:block;
-webkit-transition:all .25s ease;
transition:all .25s ease}
.why-items .why-item:hover{color:#F39F18}
.why-items .why-item>span{display:block; }
.why-items .why-item-text{font-size:1.2em;
	font-family: 'Calibrib';
	text-transform: uppercase;
line-height:1.25em;}
.why-items .img-wrap{padding-bottom:32px;
margin-bottom:12px;
display:block;
position:relative;
line-height:60px}
.why-items .img-wrap::before{content:'';
position:absolute;
height:1px;
background-color:#F39F18;
width:58px;
bottom:0;
left:50%;
-webkit-transform:translate(-50%,0);
-ms-transform:translate(-50%,0);
transform:translate(-50%,0)}
.why-items .img-wrap img{max-width:90px;
max-height:180px;
width:auto}
.img-wrap img{width:100%;
max-width:100%}
.why-items-container{text-align:center}
.why-item-wrap{display:inline-block;
float:none;
padding:0 15px;
width:300px;
vertical-align:top;
opacity:0;
-webkit-transition:all .5s ease;
transition:all .5s ease;
-webkit-transform:translateY(-25px);
-ms-transform:translateY(-25px);
transform:translateY(-25px)}
.why-item-wrap.on{opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0)}
.why-item-wrap:hover{-webkit-transform:translateY(-10px);
-ms-transform:translateY(-10px);
transform:translateY(-10px)}
.s_blue{background-color:#20868e}
.s_blue:before{background-image:url(../img/bah_2.png)}
.s_blue .block-title h2{color:#fff}
.s_blue .block-title p{color:#e5e5e5}
.s_blue .section-bottom{background-color:#394B5F;
margin-top:60px}
.section_3 .block-title{margin-bottom:20px}
.section_3 .section-content{min-height:850px;
background-image:url(../img/s3_sun_bg.png);
padding-bottom:0;
padding-top:62px}
.section_3 .section-content .info-item{margin-top:60px}
.section_3 .section-content .info-item p{color:#fff;
border-bottom:0}
.section_3 .info-item-wrap:nth-child(2) .info-item{margin-top:0}
.section_3 .info-item-wrap:nth-child(4) .info-item,.section_3 .info-item-wrap:nth-child(6) .info-item{margin-top:50px}
.section_3 .info-item-wrap:nth-child(8) .info-item{margin-top:170px}
.section_3 .info-item-wrap:nth-child(1) .info-item,.section_3 .info-item-wrap:nth-child(7) .info-item{margin-left:82px}
.section_3 .info-item-wrap:nth-child(3) .info-item,.section_3 .info-item-wrap:nth-child(9) .info-item{margin-left:-35px}
.section_3 .info-item-wrap:nth-child(6) .info-item{margin-left:30px}
.section_3 .section-bottom{margin-top:25px}
.s3-img-wrap{width:130px;
height:130px;
background-color:#F39F18;
text-align:center;
-webkit-border-radius:10em;
border-radius:10em;
margin:54px 0 0 115px}
.s3-img-wrap img{width:70px;
margin-top:29px}
.bg_gray{background-color:#E5E5E5}
.bg_gray::before{background-image:url(../img/bah_3.png)}
.bg_gray .section-bottom{background-color:#D6D6D6}
.block-in{padding-bottom:70px}
.cards,.teams{text-align:center;
-webkit-perspective:600px;
perspective:600px}
.adv-box{text-align:center;
-webkit-perspective:600px;
perspective:600px}
.cards .card,.teams .card,.teams .team{width:300px;
-webkit-transition:all 1.2s ease;
transition:all 1.2s ease;
display:inline-block;
background-color:#fff;
margin:0 12px 30px;
color:#00b0f0;
font-size:.9375em;
line-height:1.3125em;
padding:28px 28px 18px;
vertical-align:top;
border-bottom:#00b0f0 4px solid}
.adv-box .box{
	    background-color: rgba(255, 255, 255,.8);
	width:180px;
-webkit-transition:all 1.2s ease;
transition:all 1.2s ease;
display:inline-block;
margin:0 5px 10px;
color:#20868e;
font-size:.9375em;
line-height:1.3125em;
padding:20px 8px 8px;
vertical-align:top;
    border-bottom: #fff 4px solid;}
.cards .card-on,.teams .card-on, .adv-box .box-on{opacity:1}
.cards .card-off,.teams .card-off, .adv-box .box-off{-webkit-transform:rotateY(100deg);
transform:rotateY(100deg);
opacity:0}
.cards .card:hover,.teams .card:hover,.teams .team:hover{border-color:#F39F18}
.cards .card:hover .img-wrap,.teams .card:hover .img-wrap,.teams .team:hover .img-wrap{-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1)}
.cards .card .img-wrap,.teams .card .img-wrap,.teams .team .img-wrap{-webkit-transition:all .25s ease;
transition:all .25s ease}
.adv-box .box{-webkit-transition:all .25s ease;
transition:all .25s ease}
.cards .card h4,.teams .card h4,.teams .team h4{color:#E5E5E5;
font-size:1.125em;
margin-top:30px;
margin-bottom:18px}
.cards .card p,.teams .card p,.teams .team p{
	margin-bottom:0;
	margin-top:0;
	font-size: 18px;
    font-family: 'Calibrib';
}
.adv-box .box p{
	margin-top: 5px;
	margin-bottom:0;
height:30px;
 font-size: 18px;
}
.cards .card p strong,.teams .card p strong,.teams .team p strong{color:#F39F18}
.cards .card .card-icon,.teams .card .card-icon,.teams .team .card-icon{width:120px;
height:120px;
line-height:120px;
background-color:#F39F18;
-webkit-border-radius:10em;
border-radius:10em;
display:inline-block}
.cards .card .card-icon img,.teams .card .card-icon img,.teams .team .card-icon img{width:75px}
.section-if h3{margin-bottom:0}
.section-if .block-in{padding-bottom:40px}
.triangles-container{color:#fff;
font-family:PFCentroSlabProMedium,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size:1.1875em;
margin:20px 0 70px;
text-align:center}
.triangles-container .tc-item{width:290px;
height:128px;
display:inline-block;
position:relative;
margin-left:-45px;
vertical-align:top;
cursor:default;
-webkit-transition:all .5s ease;
transition:all .5s ease}
.triangles-container .tc-item:first-child{margin-left:0}
.triangles-container .tc-item:first-child .tc-content{margin-left:50px}
.triangles-container .tc-item:hover{-webkit-transform:scale(1.08);
-ms-transform:scale(1.08);
transform:scale(1.08);
z-index:3}
.triangles-container .tc-item:hover path{fill-opacity:0!important;
stroke-opacity:1!important}
.triangles-container .tc-item svg{position:absolute;
top:0;
left:0;
z-index:0}
.triangles-container .tc-item .tc-content{position:relative;
z-index:1;
margin-top:43px;
margin-left:60px;
text-align:left;
padding-left:40px;
opacity:0;
-webkit-transition:all 1s ease;
transition:all 1s ease}
.slider .owl-controls,.slider .slide{text-align:center}
.teams .team-on,.triangles-container .tc-item .tc-content-on{opacity:1}
.triangles-container .tc-item .tc-content span{font-size:1.25em;
margin-left:-22px;
position:absolute}
.triangles-container .tc-item .tc-content img{height:40px;
float:left;
margin-left:-40px;
margin-right:32px}
.teams .team{background-color:#E5E5E5;
border-color:#D6D6D6}
.teams .team-off{-webkit-transform:rotateY(100deg);
transform:rotateY(100deg);
opacity:0}
.teams .team .card-icon{overflow:hidden;
line-height:0;
-webkit-box-shadow:0 0 0 5px #D6D6D6;
box-shadow:0 0 0 5px #D6D6D6}
.teams .team .card-icon img{width:100%}
.teams .team h4{margin-top:35px;
color:#333;
text-transform:none;
margin-bottom:10px}
.teams .team p{font-size:.9375em;
color:#6e7b8b;
height:auto}
.teams .team .team-phone{margin-top:20px;
font-family:RobotoBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size:1.125em;
color:#333}
.section_7 .block-title{margin-bottom:44px}
.slider{margin-bottom:25px}
.slider .slide{margin-bottom:30px;
position:relative}
.slider .owl-item .img-wrap,.slider .owl-item .slide-descr,.slider .owl-item h3,.slider .owl-item p{-webkit-transition:all 1s ease;
transition:all 1s ease;
opacity:0;
-webkit-transform:translate3d(100px,0,0);
transform:translate3d(100px,0,0)}
.slider .owl-item .slide-descr,.slider .owl-item h3{-webkit-transition-delay:.4s;
transition-delay:.4s}
.slider .owl-item.active .img-wrap,.slider .owl-item.active .slide-descr,.slider .owl-item.active h3,.slider .owl-item.active p{opacity:1;
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0)}
.slider .owl-item .img-wrap{width:116px;
height:116px;
display:inline-block;
-webkit-border-radius:10em;
border-radius:10em;
overflow:hidden;
-webkit-box-shadow:0 0 0 7px #F39F18;
box-shadow:0 0 0 7px #F39F18;
margin:10px}
.slider .owl-item h3{text-transform:none;
font-size:1.5em;
margin-bottom:7px}
.slider .owl-item .slide-descr{font-size:.875em;
color:#6E7B8B}
.slider .owl-item p{-webkit-transition-delay:.8s;
transition-delay:.8s;
margin-top:18px}
.slider .owl-controls .owl-dot{width:15px;
height:15px;
margin:0 3px;
background-color:#ccc;
display:inline-block;
-webkit-border-radius:10em;
border-radius:10em}
.slider .owl-controls .owl-dot.active{background-color:#F39F18}
.slider .owl-controls .owl-nav{position:absolute;
top:12%;
width:100%}
.slider .owl-controls .owl-nav>div{height:29px;
width:16px;
background-image:url(../img/slider_arrows.png);
position:absolute;
left:20px;
opacity:.5;
-webkit-transition:all .25s ease;
transition:all .25s ease}
.slider .owl-controls .owl-nav>div:hover{opacity:1}
.slider .owl-controls .owl-nav .owl-next{right:20px;
left:auto;
background-position:-16px 0}
.home.section-contacts{padding-top:80px}
.home.section-contacts .forms{background-color:#ddd;
border-color:#828282}
.home.section-contacts .forms h4{color:#2c3949}
.home.section-contacts .forms p{color:#5e6267}
.home.section-contacts .forms input{background-color:silver;
color:#333!important}
.s8-left .block-title{margin-bottom:50px}
.s8-left .block-title h2{margin-top:0;
text-align:left}

.s8-left .block-title h2::after{-webkit-transform:none;
-ms-transform:none;
transform:none;
left:0}
.s8-left .block-title .p{text-align:left}
.s8-items{margin-bottom:20px}
.s8-items .s8-item{-webkit-transition:all .5s ease;
transition:all .5s ease;
opacity:0;
-webkit-transform:translateY(-25px);
-ms-transform:translateY(-25px);
transform:translateY(-25px);
text-align:center}
.s8-items .s8-item.on{opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0)}
.s8-items .s8-item:hover{-webkit-transform:translateY(-10px);
-ms-transform:translateY(-10px);
transform:translateY(-10px)}
.s8-items .s8-item .img-wrap{height:72px}
.s8-items .s8-item .img-wrap img{height:72px;
width:auto}
.s8-items .s8-item p{font-family:RalewayBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size:13px;
line-height:1.1875em;
margin-top:18px}
.main-footer{padding-bottom:60px}
.main-footer .main-mnu a{color:#C7C9CC}
.top{height:36px;
background-color:#175f64;
background-image:url(../img/top.png);
background-repeat:no-repeat;
background-position:center;
cursor:pointer}
#callback{max-width:340px;
margin:auto;
position:relative}
#callback h4{line-height:1.125em;
margin-bottom:18px}
.mfp-forms .forms{background-color:#0d383b;
-webkit-box-shadow:0 0 18px rgba(0,0,0,.5),0 0 0 5px #175f64;
box-shadow:0 0 18px rgba(0,0,0,.5),0 0 0 5px #175f64;
border:none;
-webkit-border-radius:1px;
border-radius:1px}
.mfp-forms.mfp-wrap.mfp-ready{opacity:1}
.mfp-forms .mfp-close{color:#fff}
.mfp-forms.mfp-bg{opacity:0;
-webkit-transition:all .25s ease-out;
transition:all .25s ease-out}
.mfp-forms.mfp-bg.mfp-ready{opacity:.8}
.mfp-forms.mfp-bg.mfp-removing{opacity:0}
.mfp-forms.mfp-wrap .mfp-content{opacity:0;
-webkit-transition:all .25s ease-out;
transition:all .25s ease-out}
.mfp-forms.mfp-wrap.mfp-ready .mfp-content{opacity:1}
.mfp-forms.mfp-wrap.mfp-removing .mfp-content{opacity:0}
@media only screen and (max-width:1200px){
	.phone-wrap .phone {
	    padding-right:30px;
	}
	.main-footer .main-mnu{
		position:relative;
		margin-right:-17px;
		margin-bottom:25px;
	}
.triangles-container .tc-item{margin-bottom:15px}
.triangles-container .tc-item:first-child{margin-left:-40px}
.main-mnu{display:none;
float:right;
min-width:295px;
text-align:right;
background-color:#1C242C;
top:10px;
border-bottom:#111821 4px solid;
border-top:#232D3B 4px solid;
position:absolute;
right:15px;
z-index:2}
.main-mnu ul li{display:block;
line-height:0;
padding:0}
.main-mnu ul li.active a{background-color:#273646;
text-decoration:none;
font-family:RalewayBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif}
.main-mnu ul a{display:block;
line-height:48px;
padding:0 20px;
background-color:transparent;
font-size:.9375em;
text-transform:uppercase;
-webkit-transition:all .5s ease;
transition:all .5s ease;
border-bottom:#222C36 1px solid}
.main-mnu ul a:hover{background-color:#273646;
text-decoration:none}
/*.phone{padding-right:52px}*/
.s3-img-wrap{margin-left:82px}
}
@media only screen and (max-width:992px){.s8-left .block-title h2,.s8-left .block-title p{text-align:center}
.s3-img-wrap,.s3-img-wrapper{display:none}
.s8-left .block-title h2::after{left:50%;
-webkit-transform:translate(-50%,0);
-ms-transform:translate(-50%,0);
transform:translate(-50%,0)}
.section_3 .info-item-wrap .info-item{margin:0 0 30px!important}
.section_3 .section-content{background-image:none;
min-height:auto}
.section-content .s1-bottom-triangle{background-size:cover}
.header-wrap,.header-wrap h1{margin-top:0}
.main-mnu{top:50px}
.top-line{min-height:140px}
.section_1 .s1-bottom .info-item,.section_3 .s1-bottom .info-item{margin:40px 0;
height:auto!important}
}
@media only screen and (max-width:768px){
	.home .block-title h2{margin-bottom:50px;}
	.s8-item{margin-bottom:35px}
.animated{-webkit-transition-property:none!important;
transition-property:none!important;
-ms-transform:none!important;
-webkit-transform:none!important;
transform:none!important;
-webkit-animation:none!important;
animation:none!important}
.info-item{max-width:100%;
margin-top:20px;
margin-bottom:20px;
border-bottom:#D6DAE0 1px solid;
padding-left:0}
.info-item p{border:none}
.info-item:first-child{margin-top:0}
.info-item h4{margin-top:20px}
.s1-bottom .info-item{border-color:#546476}
.info-item-wrap:last-child .info-item{border-color:transparent}
.s1-bottom .info-item-wrap:nth-child(2) .info-item{margin-top:45px}
.section_1 .section-content,.section_3 .section-content{background-position:bottom}
.section_3 .section-content{padding-top:10px}
.section_3 .section-content .info-item{border-color:#546476}
.section_3 .section-content .info-item p{margin-bottom:0}
}
@media only screen and (max-width:480px){
.home .block-title h2{margin-bottom:50px;}
	.slider .owl-controls .owl-nav{top:8%}
.section_5 .triangles-container .tc-item{margin-left:0}
.phone-wrap .phone{
	font-size:1.125em;
	line-height:34px;
/*padding-right:50px;*/
}
.phone-wrap .toggle-mnu{line-height:34px;
margin-top:8px}
.logo img{width:150px}
.header-wrap h1 {
font-size: 36px;
	}
.top-line{padding-top:25px}
.why-item-wrap{padding:0 10px;
width:140px}
}
@media only screen and (min-width:1200px){.main-mnu{display:block!important;}
}
.section-program h4{
	font-size:1.275em;
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
	.adv-box .box {
		width:130px !important;
	}
	.adv-box .box p {
    margin-top: 2px;
    margin-bottom: 0;
    height: 30px;
    font-size: 12px !important;
	}
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	.adv-box .box {
		width:120px !important;
	}
	.adv-box .box p {
    margin-top: 2px;
    margin-bottom: 0;
    height: 30px;
    font-size: 12px !important;
	}
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.adv-box .box {
		width:150px;
	}
}