@font-face{
    font-family:'Calibri';
    src: url('../fonts/Calibri/Calibri.ttf') format("truetype"), url('../fonts/Calibri/Calibri.eot') format("embedded-opentype"), url('../fonts/Calibri/Calibri.woff') format("woff");
}
@font-face{
    font-family:'Calibrib';
    src: url('../fonts/Calibri/Calibrib.ttf') format("truetype"), url('../fonts/Calibri/Calibrib.eot?#iefix') format("embedded-opentype"), url('../fonts/Calibri/Calibrib.woff') format("woff");
}
*{
  font-family: 'Calibri';
}
body{
font-size:15px;
min-width:320px;
position:relative;
font-family: 'Calibri';
overflow-x:hidden;
color:#333}
.hidden{
display:none}
a,a:active,a:focus,a:hover{
color:#F39F18;
text-decoration:underline;
outline:0}
.headers,h1,h2,h3,h4,h5,h6{
font-family: 'Calibrib';
text-transform:uppercase;
font-weight:400;
color:#20868e;}
.main-mnu li a:hover,.main-mnu li.active a{
color:#F39F18;
text-decoration:underline}
h1{
font-size:3em}
h2{
font-size:2em}
h3{
font-size:1.625em}
h4{
font-size:1.275em}
b,strong{
font-family:RalewayBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-weight:400}
.before,.main-head::before{
content:'';
width:100%;
height:100%;
position:absolute;
left:0;
top:0}
.main-head,.phone-wrap{
position:relative}
.trans{
-webkit-transition:all .5s ease;
transition:all .5s ease}
.header-wrap ul,.main-mnu ul,.ulmnu{
list-style-type:none;
margin:0;
padding:0}
.header-wrap ul li,.main-mnu ul li,.ulmnu li{
display:inline-block}
.main-head{
min-height:620px;
background-size:cover;
background-position:center;
padding-bottom:120px}
.main-head::before{
background-color:#394b5f;
opacity:.05}
.main-head h1{
text-transform:none;
line-height:1em;
}
.main-head .address p{
    color:#fff;
    font-size: 24px;
    text-shadow: 1px 1px 0px #555;
    text-align: center;
}
.main-head .address a{
    color:#fff;
    font-size: 24px;
    text-shadow: 1px 1px 0px #555;
    text-align: center;
    border-bottom: 2px dashed #fff;
}
.main-head .address a .select {
    content: '';
    position: absolute;
    display: block;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #5d5e56 transparent transparent transparent;
}
.top-line{
padding-top:35px;
min-height:140px;
background-image:url(../img/top_gradient.png);
background-repeat:repeat-x}
.logo{
    opacity:.95;
}
.logo img{
    width:250px;
}
.logo-text{
    color: #fff;
    line-height: 0;
    font-size: 18px;
}
.main-mnu{
    font-size: 22px;
}
.main-mnu li{
    line-height:48px;
    padding:0 5px;
}
.main-mnu li a, .main-mnu li u{
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    text-shadow: 1px 1px 0px #555;
}
.header-wrap ul li a,.main-mnu a, .main-mnu u{
    text-decoration:none;
    color:#fff;
}
.main-mnu li a:hover,.main-mnu li.active a{
    color:#fff;
    text-decoration:underline;
    text-shadow: 1px 1px 0px #555;
}
.program-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.program-menu a{
    color:#20868e;
    text-shadow: 2px 2px 2px #d2e6e8;
    text-decoration:none;
    padding: 4px;
}
.program-menu span.select-age{
    text-decoration: none;
    color:#fff;
    background-color: #20868e;
    padding: 4px;    
}

span.arrow {
    width: 11px;
    height: 17px;
    background: url("../img/course_arrow.png");
    position: absolute;
    right: 4px;
    top: 8px;
    background-color: transparent;
    padding: 0;
}    
.program-menu a:hover, .program-menu a.active{
    color:#20868e;
    text-shadow: 2px 2px 2px #fff;
    text-decoration: underline;
}
@media only screen and (max-width:768px){
    .program-menu{
        padding: 20px 0;
        font-size: 1em;
        font-weight: bold;
    }
}    
@media only screen and (max-width:480px){
    .program-menu{
        padding: 20px 0;
        font-size: 0.8em;
        font-weight: bold;
    }
} 
.phone-wrap .phone{
color:#fff;
font-family: 'Calibri';
font-size:2.25em;
margin-top: 0;
text-align:right;
white-space:nowrap;
float: right;}
.phone-wrap .app-version{
float:right;
position:absolute;
right:0;
top:0;
margin-top: 60px;
}
.phone-wrap .toggle-mnu{
float:right;
position:absolute;
right:0;
top:0;
text-align:center;
line-height:48px}
.toggle-mnu{
display:block;
width:28px;
height:28px;
margin-top:14px}
.toggle-mnu span:after,.toggle-mnu span:before{
content:"";
position:absolute;
left:0;
top:9px}
.toggle-mnu span:after{
top:18px}
.toggle-mnu span{
position:relative;
display:block}
.toggle-mnu span,.toggle-mnu span:after,.toggle-mnu span:before{
width:100%;
height:2px;
background-color:#fff;
-webkit-transition:all .3s;
transition:all .3s;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-border-radius:2px;
border-radius:2px}
.toggle-mnu.on span{
background-color:transparent}
.toggle-mnu.on span:before{
-webkit-transform:rotate(45deg) translate(-1px,0);
-ms-transform:rotate(45deg) translate(-1px,0);
transform:rotate(45deg) translate(-1px,0)}
.toggle-mnu.on span:after{
-webkit-transform:rotate(-45deg) translate(6px,-7px);
-ms-transform:rotate(-45deg) translate(6px,-7px);
transform:rotate(-45deg) translate(6px,-7px)}
.toggle-mnu.on+#menu{
opacity:1;
visibility:visible}
.header-wrap{
/*margin-top:40px;*/
}
.header-wrap h1{
    font-size: 48px;
    color:#fff;
    text-shadow: 1px 1px 0px #555;
    text-align: center;
}
.header-wrap h3{
    color:#fff;
    text-shadow: 1px 1px 0px #555;
    text-align: center;
}

.header-wrap ul{
margin-top:10px}
.header-wrap ul li{
display:block;
font-family:RalewaySemiBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size:18px;
position:relative;
margin-bottom:12px;
padding-left:16px}
.forms h4,.forms input{
font-family: 'Calibri';}
.header-wrap ul li::before{
content:'';
display:block;
height:11px;
height:0;
width:0;
border-bottom:6px solid transparent;
border-left:6px solid #F39F18;
border-top:6px solid transparent;
position:absolute;
top:4px;
left:0}
.header-wrap ul li a:hover{
text-decoration:underline}
.header-left{
/*margin-bottom:50px;*/
}
.advantages{
background-color:rgba(255, 255, 255,.8);
padding:35px 35px 30px;
color:#175f64;
font-size:.875em;
border-bottom:#fff 4px solid}
.advantages p{

font-size:2.0625em;
text-transform:none;
margin:0
}
.forms{
background-color:rgba(32, 134, 142,.8);
padding:35px 35px 30px;
color:#97a4b2;
font-size:.875em;
border-bottom:#175f64 4px solid}
.forms h4{
color:#fff;
font-size:1.8em;
text-transform:none;
margin:0}
.forms p{
line-height:1.4375em;
margin-top:10px;
color: #fff;}
.forms label{
margin-top:20px;
margin-bottom:15px;
display:block}
.forms label span{
letter-spacing:1.5px;
display:block;
margin-bottom:6px;
color:#fff}
.button-call, .buttons,.buttons:active,.buttons:focus,.buttons:hover{
color:#111;
text-decoration:none}
.forms input[type="text"]:focus{
-webkit-box-shadow:0 -5px #ffd300;
box-shadow:0 -5px #ffd300;
background-color:#175f64;}
.forms input[type="email"]:focus{
-webkit-box-shadow:0 -5px #ffd300;
box-shadow:0 -5px #ffd300;
background-color:#175f64;}
.forms input[type="text"], .forms input[type="email"], .forms select{
    display:block;
    width:100%;
    border:none;
    -webkit-box-shadow:0 -3px #20868e;
    box-shadow:0 -3px #20868e;
    background-color:#175f64;
    text-indent:10px;
    padding:7px 0;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    color:#fff;
    font-size:1.5em;
    margin:13px 0 0;
}
.forms input[type="email"]{
    display:block;
    width:100%;
    border:none;
    -webkit-box-shadow:0 -3px #20868e;
    box-shadow:0 -3px #20868e;
    background-color:#175f64;
    text-indent:10px;
    padding:7px 0;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    color:#fff;
    font-size:1.5em;
}

.forms input[type="checkbox"] {
}
.forms .buttons{
margin-top:15px}
.arrow-wrap,.button-wrap{
text-align:center}
.button-box{
text-align:center;
margin-top: 24px;}
.buttons{
display:inline-block;
border:none;
background-color:#F39F18;
color: #000;
font-family: 'Calibrib';
font-size:1.375em;
padding:9px 30px;
border-bottom:#B97200 3px solid;
-webkit-transition:all .25s ease;
transition:all .25s ease;
-webkit-border-radius:2px;
border-radius:2px}
.button-call{
	float: right;
	text-decoration: none;
display:inline-block;
border:none;
background-color:#F39F18;
font-family: 'Calibrib';
font-size:1.375em;
padding:9px 10px;
border-bottom:#B97200 3px solid;
-webkit-transition:all .25s ease;
transition:all .25s ease;
-webkit-border-radius:2px;
border-radius:2px}
.button-call:hover{
background-color:#FFB338;
text-decoration: none;
color: #000;}
.button-call:active{
background-color:#DB8C0E;
text-decoration: none;
color: #000;}
.button-call:visited{
background-color:#DB8C0E;
text-decoration: none;
color: #000;}
.buttons:hover{
background-color:#FFB338}
.buttons:active{
background-color:#DB8C0E}
.arrow-wrap{
position:relative;
z-index:2;
top:50px}
.arrow-wrap-color{
position:relative;
z-index:2;
top:0;
padding: 10px 0; 
text-align: center;}
.arrow-bottom{
display:inline-block;
width:40px;
height:40px;
background-image:url(../img/arrow_down.png);
cursor:pointer;
opacity:.7;
-webkit-transition:all .25s ease;
transition:all .25s ease;
}
.arrow-bottom-color {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow_down_color.png);
    cursor: pointer;
    opacity: .7;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.arrow-bottom:hover{
opacity:1}
.clear {
    clear: both;
}
.center{
	text-align: center;
}
.scrollup {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 10px;
    left: 20px;
    display: none;
    text-indent: -9999px;
    background: url('../img/arrow_top.png') no-repeat;
    background-color: transparent;
}
/* Global */


.fff{
    border:1px solid #ddd;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto}
.carousel{
position:relative}
.carousel-inner{
position:relative;
width:100%;
overflow:hidden}
.carousel-inner>.item{
position:relative;
display:none;
-webkit-transition:.6s ease-in-out left;
-o-transition:.6s ease-in-out left;
transition:.6s ease-in-out left}
.carousel-inner>.item>img,.carousel-inner>.item>a>img{
line-height:1}

@media all and (transform-3d),(-webkit-transform-3d){
.carousel-inner>.item{
-webkit-transition:-webkit-transform .6s ease-in-out;
-o-transition:-o-transform .6s ease-in-out;
transition:transform .6s ease-in-out;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-perspective:1000;
perspective:1000}
.carousel-inner>.item.next,.carousel-inner>.item.active.right{
left:0;
-webkit-transform:translate3d(100%,0,0);
transform:translate3d(100%,0,0)}
.carousel-inner>.item.prev,.carousel-inner>.item.active.left{
left:0;
-webkit-transform:translate3d(-100%,0,0);
transform:translate3d(-100%,0,0)}
.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right,.carousel-inner>.item.active{
left:0;
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0)}
}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
display:block}
.carousel-inner>.active{
left:0}
.carousel-inner>.next,.carousel-inner>.prev{
position:absolute;
top:0;
width:100%}
.carousel-inner>.next{
left:100%}
.carousel-inner>.prev{
left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{
left:0}
.carousel-inner>.active.left{
left:-100%}
.carousel-inner>.active.right{
left:100%}
.carousel-control{
position:absolute;
top:0;
bottom:0;
left:0;
width:15%;
font-size:20px;
color:#fff;
text-align:center;
text-shadow:0 1px 2px rgba(0,0,0,.6);
filter:alpha(opacity=50);
opacity:.5}
.carousel-control.left{
background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
background-repeat:repeat-x}
.carousel-control.right{
right:0;
left:auto;
background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
background-repeat:repeat-x}
.carousel-control:hover,.carousel-control:focus{
color:#fff;
text-decoration:none;
filter:alpha(opacity=90);
outline:0;
opacity:.9}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{
position:absolute;
top:50%;
z-index:5;
display:inline-block}
.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{
left:50%;
margin-left:-10px}
.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{
right:50%;
margin-right:-10px}
.carousel-control .icon-prev,.carousel-control .icon-next{
width:20px;
height:20px;
margin-top:-10px;
font-family:serif}
.carousel-control .icon-prev:before{
content:'\2039'}
.carousel-control .icon-next:before{
content:'\203a'}
.carousel-indicators{
position:absolute;
bottom:10px;
left:50%;
z-index:15;
width:60%;
padding-left:0;
margin-left:-30%;
text-align:center;
list-style:none}
.carousel-indicators li{
display:inline-block;
width:10px;
height:10px;
margin:1px;
text-indent:-999px;
cursor:pointer;
background-color:#000 \9;
background-color:rgba(0,0,0,0);
border:1px solid #fff;
border-radius:10px}
.carousel-indicators .active{
width:12px;
height:12px;
margin:0;
background-color:#fff}
.carousel-caption{
position:absolute;
right:15%;
bottom:20px;
left:15%;
z-index:10;
padding-top:20px;
padding-bottom:20px;
color:#fff;
text-align:center;
text-shadow:0 1px 2px rgba(0,0,0,.6)}
.carousel-caption .btn{
text-shadow:none}
@media screen and (min-width:768px){
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next{
width:30px;
height:30px;
margin-top:-15px;
font-size:30px}
.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{
margin-left:-15px}
.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{
margin-right:-15px}
.carousel-caption{
right:20%;
left:20%;
padding-bottom:30px}
.carousel-indicators{
bottom:20px}
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {

    display: block;

}
.pager{
padding-left:0;
margin:20px 0;
text-align:center;
list-style:none}
.pager li{
display:inline}
.pager li>a,.pager li>span{
display:inline-block;
padding:5px 14px;
background-color:#fff;
border:1px solid #ddd;
}
.pager li>a:hover,.pager li>a:focus{
text-decoration:none;
background-color:#eee}
.pager .next>a,.pager .next>span{
float:right}
.pager .previous>a,.pager .previous>span{
float:left}
.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{
color:#777;
cursor:not-allowed;
background-color:#fff}
.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{
display:table;
content:" "}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{
clear:both}




.footer-content .social{
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
.footer-content .mail{
    text-align: center;
}
.footer-content .mail a{
    color: #fff;
}
.footer-content .time{
    color: #fff;
}
.footer-content .social a{
    color: #fff;
}
.any_q {
    text-align: center;
    font-family: 'Calibri';
    padding-bottom: 45px;
}
.any_q img {
    border: #ccc dashed 3px;
}
.any_q h2 {
    font-size: 58px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.any_q a {
    display: inline-block;
    color: #00a3f6;
    /*border-bottom: #00a3f6 dashed 1px;*/
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#selectCityModal{
  top: 20%;
}

#selectCityModal .modal-body a {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}